*
{
	color: #D8E0E6;
	border-color: #B4C0C9;
}

body
{
	background-color:#0F1317; /* ORCA match background color */
	color: #D8E0E6;
}

.ZScrol::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: #8B99A4;
}

.ZScrol::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #07090B;
}

#Title div
{
	color: #EEF3F6;
}

/*-------Text------*/

.TextS1
{

}

.TextS2
{
	color:#B4C0C9;
}

/*---Policy---*/
.TextArea1
{
	background-color: #5C6B77;
	color: #B4C0C9;
}

/*----Region---*/
.RegionItem:hover
{
	background-color:#262F37;
}

.RegionSelected:hover
{
	background-color:#222A31;
	color: #fff;	
}

/*----Menu----*/
#Title div.TitleUnselected
{
	color: #B4C0C9;
}
